$backgroundColor: #F4E2E0;

$themeBlue1: #C8DEFB;
$themeBlue2: #5C90B6;
$themeBlue3: #031941;

$themeRed: #B62220;
$themeOrange: #E84735;
$themePink: #F4D6D6;

$titleFont: 'Yeseva One', serif;
$paragraphFont: 'Open Sans', sans-serif;

$titleSize: 4em;
$paragraphSize: 1.2em;
